@media screen and (max-width: 576px) {
    /* shared sytle  */
    .section-title{
        font-size: 2rem;        
    }
    /* shared sytle  */
    .nav-items{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .banner-container{
        flex-direction: column;
        height: auto;
    }
    .banner-content .banner-title{
        font-size: 2.25rem;
    }
    .banner-btn .btn-primary, .btn-secondary{
        padding: 1rem 1.5rem;
        margin-left: 0.5rem;
        margin-bottom: 3rem;
    }
    .banner-img{
        text-align: left;
    }
    .banner-img .workout-videos{
        top: 10%;
        right: -5%;
    }
    .banner-img .tutorial-videos{
        left: 0;
        bottom: 10%;
    }
    .change-habits-container > .description-text, .change-habits-container > h3 {
    text-align: left;
    }
    .change-habits-cards-container, .run-extra-container{
        grid-template-columns: 1fr;
    }
    .run-extra-container{
        padding: 1.5rem;
    }
    .run-extra-content{
        margin-bottom: 1.5rem;
    }

}