@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
:root{
    --primary-color: rgb(230, 83, 60);
    --white: rgb(255, 255, 255);
    --secondary-color: rgba(255, 255, 255, 0.5);
}
body{
    background-color: rgb(0, 0, 0);
}
/* shared styles  */
.container{
    max-width: 1440px;
    padding: 0 1.25rem;
    margin: 0 auto;
}
.description-text{
    font-size: 0.875rem;
    color: var(--secondary-color);
    font-weight: 400;
    line-height: 1.5rem;
}
.btn-primary{
    border: none;
    outline: none;
    background-color: var(--primary-color);
    padding: 0.9rem 2rem;
    border-radius: 2.5rem;
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.btn-secondary{
    outline: none;
    padding: 0.9rem 2rem;
    border-radius: 2.5rem;
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white);
    font-size: 1rem;
    font-weight: 600;
    margin-left: 1rem;
    cursor: pointer;
}
section{
    margin: 5.5rem 0;
}
.section-title{
    font-size: 3rem;
    font-weight: 900;
    color: var(--white);
    margin-bottom: 0.875rem;
}
.section-subtitle{
    color: var(--white);
    font-weight: 900;
    font-size: 1.625rem;
    margin-bottom: 0.875rem;
}
.center{
    text-align: center;
}
/* shared styles  */


/* Navbar section styles  */
header{
    /* background-image: linear-gradient(-225.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
    width: 100%;
    background-image: linear-gradient(180.00deg, rgba(17, 17, 17, 1), rgba(119, 119, 119, 0.3), rgba(119, 119, 119, 0.3), rgba(119, 119, 119, 0.3),rgba(119, 119, 119, 0) 100%);
    background-blend-mode: overlay; 
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0px;
}
.nav-logo h3{
    font-size: 2.5rem;
    color: var(--white);
    font-weight: 800;
    font-style: italic;
}
#fitness{
    color: var(--primary-color);
}
.nav-items ul{
    display: flex;
    align-items: center;
    gap: 3rem;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1.5rem;
    padding: 5px;
}
.nav-items ul .nav-links{
    color: var(--white);
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    display: inline-block;
    padding: 0.5rem 1.125rem;
    border-radius: 1rem;
    transition: background-color 0.4s ease-in-out;
}
.nav-items ul .nav-links:hover, .active{
        background-color: var(--primary-color);
}
.hamburger{
    vertical-align: middle;
    font-size: 2rem;
    color: var(--white);
    display: none;
}
/* Navbar section styles  */


/* Banner section styles  */
.banner-container{
    color: var(--white);
    height: 580px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content, .banner-img{
    flex: 1;
}
.banner-content{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}
.banner-content .banner-title{
    font-weight: 900;
    font-size: 4.875rem;
    line-height: 120%;
}
#shape{
    font-family: 'Miama', sans-serif;
    font-size: 10rem;
    font-weight: 300;
}
.banner-img{
    text-align: right;
    position: relative;
}
.banner-img .workout-videos, .tutorial-videos{
    position: absolute;
    padding: 1rem 1.25rem;
    text-align: left;
    border-radius: 0.75rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    width: max-content;
}
.banner-img .workout-videos{
    right: -5%;
    top: 25%;
}
.banner-img .tutorial-videos{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    left: 35%;
    bottom: 10%;
}
.workout-videos h3, .tutorial-videos h3{
    color: var(--white);
    font-size: 2.5rem;
    font-weight: 900;
}
.banner-img .tutorial-videos img{
    width: 40px;
    height: 40px;
}
/* Banner section styles  */


/* Change habits section styles  */
.change-habits-cards-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
    margin-top: 3.625rem;
}
.change-habits-card h4{
    font-size: 1.125rem;
    color: var(--white);
    font-weight: 600;
    margin-top: 1.85rem;
    margin-bottom: .5rem;
}
.change-habits-card img{
    border-radius: 50%;
    border: 1px solid var(--white);
}
/* Change habits section styles  */


/* Run Extra styles  */
.run-extra-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-color: rgb(34, 34, 34);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    gap: 1rem;
}
.run-extra-content{
    grid-column: span 2;
}
.run-extra-content .section-title{
    text-align: left;
}
.run-extra-content .description-text{
    margin-bottom: 2rem;
    max-width: 500px;
}
.run-extra-img img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
/* Run Extra styles  */

/* Training & Exercises styles */

.exercises-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 3.625rem;
}
.exercises-container img{
    width: 100%;
    height: 220px;
}
.exercises-container .exercises-card{
    height: 220px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    overflow: hidden;
}

.exercises-container .exercises-card-1{
    background-image: url(../images/exercise1.jpg);
    grid-column: span 2;
    background-color: rgba(6, 255, 210, 0.5);
}
.exercises-container .exercises-card-2{
    background-image: url(../images/exercise2.png);
    grid-column: span 7;
    background-color:rgba(255, 0, 0, 0.3);
}
.exercises-container .exercises-card-2{
    transform: scale(1);
}
.exercises-container .exercises-card-3{
    background-image: url(../images/exercise3.png);
    grid-column: span 3;
    background-color:rgba(0, 0, 0, 0.5);
}
.exercises-container .exercises-card-4{
    background-image: url(../images/exercise4.png);
    grid-column: span 5;
    background-color:rgba(0, 0, 0, 0.5);
}
.exercises-container .exercises-card-5{
    background-image: url(../images/exercise5.jpg);
    grid-column: span 3;
    background-color:rgba(66, 255, 0, 0.3);
}
.exercises-container .exercises-card-6{
    background-image: url(../images/exercise6.jpg);
    grid-column: span 4;
    background-color:rgba(0, 71, 255, 0.3)
}
.exercises-container .exercises-card .exercise-title{
    position: absolute;
    bottom: 1.5rem;
    left: 2rem;
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--white);
}
.exercises-container .exercises-card .title-two{
    top: 1.5rem;
}
.exercises-container .exercises-card .title-four{
    position: absolute;
    top: 1.5rem;
    right: 1rem!important;
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--white);
}
/* Training & Exercises styles */

/* BMI Calculate styles  */
.bmi-calculate-container{
    width: 100%;
    background-color: rgb(34, 34, 34);
    padding: 3.5rem 0;
}
.bmi-calculate-header{
    max-width: 60%;
    margin: 0 auto;
}
.bmi-calculate-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: var(--white);
    margin-top: 5rem;
}
.bmi-table{
    border-collapse: collapse;
    margin: 3.25rem 0;
}
.bmi-table th, td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
    padding: 0.7rem 1.5rem 0.7rem 2rem;
}
.bmi-table th{
    color: var(--white);
    font-weight: 600;
    font-size: 1rem;
}
.bmi-table td{
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 500;
}
.calculate-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
    margin-top: 2rem;
}
.calculate-container #select{
    grid-column: span 2;
    margin-bottom: 1.5rem;
}
.calculate-container .input, .calculate-container .select{
    height: 3rem;
    border: none;
    outline: none;
    padding: 0.75rem 1.5rem;
    color: var(--secondary-color);
    font-size: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    Border-right: 1.125rem solid transparent;
}
.calculate-container .select option{
    background-color: rgb(34, 34, 34);
    border: none;
    outline: none;
}
/* BMI Calculate styles  */

/* Meet team section styles */
.team-container .description-text{
    max-width: 671px;
    margin: 0 auto;
}
.team-cards-container{
    margin-top: 3.625rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    padding: 1.25rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
}
.team-card{
    position: relative;
}
.team-card img{
    width: 100%;
    border-radius: 1rem;
    height: 280px;
    object-fit: cover;
}
.team-card::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.25);
    top: 0;
    left: 0;
}
.team-card .trainer-name{
    position: absolute;
    bottom: 10%;
    left: 10%;
}
.team-card .trainer-name h4{
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 600;
}
.team-card .trainer-name small{
    font-size: 1rem;
    color: var(--secondary-color);
    font-weight: 400;
}
/* Meet team section styles */

/* Bonus part  */
/* Pricing section styles  */
.pricing-container .time-period{
    display: flex;
    list-style: none;
    gap: 1.5rem;
    padding: 0.4rem;
    border: 2px solid rgba(255, 255, 255, 0.2);
    width: max-content;
    border-radius: 2rem;
    margin: 2rem auto;
}
.time-period li{
    padding: 0.8rem 2.5rem;
    color: var(--white);
    border-radius: 2rem;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}
.time-period .monthly{
    background-color: var(--primary-color);
}
.time-period li:hover{
    background-color: var(--primary-color);
}
.pricing-cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    align-items: center;
}
.pricing-card{
    color: var(--white);
    padding: 2.5rem 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 3.56rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.pricing-card .price{
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--primary-color);
}
.pricing-card .pricing-title{
    width: max-content;
    /* padding: 1rem; */
    margin-bottom: 0.75rem;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 1.5rem;
}
.pricing-card .pricing-title i{
    color: var(--primary-color);
    margin-left: 0.5rem;
    font-size: 2rem;
    vertical-align: middle;
}
.pricing-card .hr{
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 2rem;
}
.pricing-card ul li{
    list-style: none;
    margin-bottom: 0.8rem;
    color: rgba(255, 255, 255, 0.7);
}
.pricing-card ul li .fa-solid{
    margin-right: 0.5rem;
    vertical-align: middle;
}
.pricing-card .features #active{
    color: var(--primary-color);
}
.pricing-card .features #inactive{
    color: rgba(255, 255, 255, 0.3);
}
.pricing-card  .btn-primary{
    margin-top: 1.5rem;
}
.pricing-cards-container .card-2{
    position: relative;
    overflow: hidden;
}
.pricing-cards-container .best-price{
    position: absolute;
    color: var(--white);
    padding: 0.5rem 3rem;
    background-color: var(--primary-color);
    width: max-content;
    font-size: 1.25rem;
    top: 30px;
    right: -40px;
    transform: rotate(42deg);
}
.free-consultation-container{
    margin-top: 3.576rem;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem 2.5rem;
    border-radius: 1rem;
}
.get-consultation-container{
    display: flex;
    gap: 1rem;
}
.consultation-info .consultation-title{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.consultation-info .trainer-info{
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 1rem;
}
.consultation-info img{
    width: 90px;
    height: 90px;
    border-radius: 1rem;
}
.trainer-info .trainer-name{
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 0.875rem;
}
.get-consultation .consultation-title{
    font-size: 1.25rem;
    color: var(--white);
    font-weight: 500;
    margin-bottom: 1.5rem;
}
/* Pricing section styles  */


/* Footer section styles */
footer{
    width: 100%;
    margin-top: 3.57rem;
    background-color: rgba(255, 255, 255, 0.1);
}
.footer-container{
    padding-top: 3.57rem;
    padding-bottom: 2rem;
}
.footer-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.57rem;
}
.footer-content .nav-logo h3{
    font-size: 3.375rem;
}
.footer-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.57rem;
}
.nav-logo .footer-text{
    margin-top: 2rem;
    max-width: 450px;
}
.footer-links ul li{
    list-style: none;
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.5rem;
}
.footer-container .hr{
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 2rem 0 1rem;
}

/* Footer section styles */